body, html{
    height:100%;
}

.header, .footer{
	height:100px;
	background:red;
}

.registerFormContainer {
    width:50%;
    background-color:purple;
    border: 3px solid blue;
    background: rgba(215, 147, 98, .8);
    text-align:right;
}